.search{
      -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 150px;
  line-height: 30px;
  margin: 10px auto;
}
input[type="search" i] {
    
    padding: 10px 20px;
}